.nav-padding
.container
    .mat-card
        h3 Weet u zeker dat u #[span {{ sportEvent?.name }} ] wilt verlaten?
        p Door verder te gaan zult u officieel het evenement verlaten. #[br] Mogelijk kunt u hierna dit evenement niet meer opnieuw meedoen.

    .button-container
        button.btn.btn-large.danger.left-btn((click)="cancel()") Annuleren
        button.btn.btn-large.right-btn((click)="proceed()") Evenement verlaten