doctype html
.row.login-container
  .col.s12.m4.l6.hero-image.hide-on-small-and-down

  .col.s12.m8.l6.login-screen
    .col.s12.m10.offset-m1
      h1 Sportunite

    .col.s12.m10.offset-m1
      form([formGroup]="loginForm")
        mat-form-field.full-width
          input(matInput, placeholder="Gebruikersnaam", type="text")
        mat-form-field.full-width
          input(matInput, placeholder="Wachtwoord", type="password")
        .full-width
          button.right(mat-raised-button, color="primary") Inloggen




