doctype html
.row.login-container
  .col.s12.m4.xl6.hero-image.hide-on-small-and-down

  .col.s12.m8.xl6.login-screen
    .col.s12.xl10.offset-xl1
      h1 Sportunite

    .col.s12.xl10.offset-xl1
      form([formGroup]="loginForm", (ngSubmit)="submit()")
        .row
          mat-form-field.full-width
            input(matInput, placeholder="Email", type="text", formControlName="email", [errorStateMatcher]="errors")
            mat-error(*ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')") Ongeldig e-mailadres
            mat-error(*ngIf="loginForm.get('email').hasError('required')") E-mailadres is verplicht
            mat-error(*ngIf="loginForm.get('email').hasError('notFound')") Onbekend Emailadres
        .row
          mat-form-field.full-width
            input(matInput, placeholder="Wachtwoord", type="password", formControlName="password")
            mat-error(*ngIf="loginForm.get('password').hasError('required')") Wachtwoord is verplicht
            mat-error(*ngIf="loginForm.get('password').hasError('invalidPassword')") Verkeerd wachtwoord
        .row
          .full-width
            mat-checkbox(formControlName="keep") Houdt mij ingelogd
            button.btn.right([disabled]="loginForm.invalid") Inloggen

          span(*ngIf="loginForm.hasError('noConnection')") Kon niet verbinden met de server




