a.mat-card.sport-event-item([routerLink]="event.sportEventId")
    .header-container
        h5 {{event.name}}
        .organiser-container
            span.organiser {{event.organisor.firstname}} {{event.organisor.lastname}}
            .profile-pic(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/saulihirvi/128.jpg')", alt="avatar")
    .inner-container
        .upper-container
            span.info Aanwezigen
            span.count {{event.attendees.length}} / {{event.maxAttendees}}
        mat-progress-bar(mode="determinate", [value]="value", [ngClass]="getMode()")
        //.friends-container
    .footer-container
        .date
            mat-icon(svgIcon="clock")
            span {{event.eventStartTime | amDateFormat: 'HH:mm'}}-{{event.eventEndTime | amDateFormat: 'HH:mm'}}

        .location
            mat-icon(svgIcon="map")
            span.name {{event.reservation.hall.building.name}}
            span.address {{event.reservation.hall.building.address.streetName}} {{event.reservation.hall.building.address.houseNumber}}, {{event.reservation.hall.building.address.city}}