@import '../../../../../sass/1-base/colorvars'

a.mat-card.sport-event-item
  max-width: 778px
  width: 100%
  margin: 16px auto
  padding: 0
  border: 3px solid $text
  border-radius: 11px

  h5
    font-size: 22px
    font-weight: 500

  .profile-pic
    height: 28px
    width: 28px
    min-width: 28px
    min-height: 28px
    background:
      position: center
      size: cover
    border-radius: 50%





