.app-stepper
  height: 100%
  width: 100%
  display: flex
  flex-direction: row-reverse
  justify-content: center
  align-items: center

.stepper-container
  overflow: hidden
  height: 100%
  width: 100%


.stepper-nav-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .step-nav-item
    outline: none
    cursor: pointer

