header
    .nav-button
        nav
            button.hamburger.hamburger--spin(type="button", (click)="clicked = !clicked", [class.is-active]="clicked")
                span.hamburger-box
                    span.hamburger-inner

    .floating-header
        span SportUnite

    .profile-button
