.nav-padding
.container(*ngIf="user")
    .row
        .col.s12.l5.left-container
            .col.s12
                .profile-upper-container
                    .profile-pic(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/saulihirvi/128.jpg')")
                    span.user-name {{user.firstname | titlecase }} {{user.lastname | titlecase }}
                .card-panel.profile-info-card
                    .button-container: button.btn.profile-edit-btn(routerLink="edit") Profiel wijzigen
                    .inner-container
                        p.profile-text Email: #[span.value {{user.email}}]
                        p.profile-text Geboren op: #[span.value {{ user.birth | amLocale:'nl' | amDateFormat: 'D MMMM YYYY' }}]
                        p.profile-text Geslacht: #[span.value {{user.gender.toLowerCase() == 'male' ? 'Man' : 'Vrouw'}}]
                        p.profile-text Adres: #[span.value {{user.address.street}} {{user.address.number}}{{user.address.suffix}}]
                        p.profile-text Stad: #[span.value {{user.address.city}}]
                        p.profile-text Land: #[span.value {{user.address.country}}]

                    .inner-container
                        p.profile-biography-title Biografie
                        p.profile-biography {{user.biography}}
                        p.profile-biography(*ngIf="user.biography != '' || user.biography") #[i Geen biografie]

                    .inner-container
                        p.profile-biography-title Favoriete sporten
                        mat-chip-list
                            mat-chip(*ngFor="let sport of user.favorite_sports", color="primary", [selectable]="false") {{sport}}

            .col.s12
                i Vrienden

        .col.s12.l7
            i eventuele lijst met feed over deelnemende evenementen

