button.btn
  height: 36px
  min-width: 88px
  padding: 0 32px
  background: $background
  color: $primary
  border: 3px solid $primary
  border-radius: 18px
  text-transform: uppercase
  font:
    weight: 500
    size: 14px
  cursor: pointer
  transition: all 0.2s ease-in-out
  outline: none

  &:hover, &:active
    color: $text-contrast
    background: $primary

  &[disabled]
    border-color: $text-disabled
    color: $text-disabled

    &:hover, &:active, &:focus
      color: $text-disabled
      background: inherit

  &.right
    float: right
    clear: right

  &.btn-large
    height: 44px
    border-radius: 22px
    font-size: 16px

  &.facebook
    color: $facebook
    border-color: $facebook

    &:hover, &:active
      color: $text-contrast
      background: $facebook

  &.google-plus
    color: $google-plus
    border-color: $google-plus

    &:hover, &:active
      color: $text-contrast
      background: $google-plus

  &.danger
    color: $danger
    border-color: $danger

    &:hover, &:active
      color: $text-contrast
      background: $danger



