mat-card
  border-radius: 14px
  border: #393E41 2px solid !important
  padding: 0 !important
  margin-top: 42px
  width: 100%
  box-sizing: border-box


mat-card-content
  border-top: #393E41 2px solid !important
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  padding: 10px

mat-card-header
  display: flex
  flex-flow: row
  justify-content: space-between !important
  align-items: center !important


mat-chip
  border: #393E41 2px solid !important
  background-color: white !important
  color: #393E41 !important
  width: 35px
  font-size: 12px
  font-weight: 500

mat-chip:active
  background-color: #005B77 !important
  color: white !important

mat-chip-list
  align-items: center




