.card-panel.filter-card
    .filter-date-container
        form.filter-form([formGroup]="dateForm", (keyup)="onSportsSelected()")
            .left-container
                p Startdatum
                input(matInput, [matDatepicker]="datePicker", type="text", formControlName="firstDate", placeholder="Kies een begindatum", (click) = "datePicker.open()")
                mat-datepicker(#datePicker)
                mat-error(*ngIf="dateForm.get('firstDate').hasError('dateFormat')") Ongeldige datum
            .right-container
                p Einddatum
                input(matInput, [min]="dateForm.value.firstDate", [matDatepicker]="secondDatePicker", formControlName="secondDate" , type="text", placeholder="Kies een einddatum", (click)="secondDatePicker.open()")
                mat-datepicker(#secondDatePicker)
                mat-error(*ngIf="dateForm.get('secondDate').hasError('dateFormat')") Ongeldige datum
            mat-icon(svgIcon="calendar-remove", (click)='dateForm.reset()')

    .filter-sports-container
        span.header Sporten
        mat-form-field.full-width(floatLabel="never")
            mat-select(placeholder="Filter op sporten", multiple, [(value)]="selectedSports", (change)="onSportsSelected()")
                mat-option(*ngFor="let sport of sports", [value]="sport.name") {{sport.name}}

    //.inner-container
    //        mat-slide-toggle Alleen waar vrienden naar toe gaan
    //        mat-slide-toggle Alleen georganiseerd door vrienden

