@import '../../../../../sass/1-base/colorvars'


.filter-container
  margin-top: 42px
  border-radius: 11px
  border: 3px solid #393E41
  padding: 0

  p
    margin: 0
    font-size: 16px

  mat-icon
    color: darkgrey

  mat-icon:hover
      color: #393E41

  .inner-container
    border-top: 3px solid #393E41
    padding: 16px

    .sports-container
      align-items: center
      display: flex
      justify-content: space-between
      flex-flow: column

      mat-chip-list
        align-items: center

        mat-chip
          margin-top: 5px !important
          background: $primary
          color: $text-contrast
          font-weight: 500

    mat-slide-toggle
      margin-bottom: 8px

  form.filter-form
    display: flex
    padding: 16px
    flex-flow: row
    align-items: flex-start
    justify-content: space-between

    input
      font-weight: 500








