mat-card
    mat-card-header
        form([formGroup]="dateForm", (ngSubmit)="onSportsSelected()")
            .left
                p Startdatum
                input(matInput, [matDatepicker]="datePicker", type="text", formControlName="firstDate", placeholder="Begindatum")
                mat-datepicker-toggle(matSuffix, [for]="datePicker")
                mat-datepicker(#datePicker)
            .right
                p Einddatum
                input(matInput, [min]="dateForm.value.firstDate", [matDatepicker]="secondDatePicker", formControlName="secondDate" , type="text", placeholder="Einddatum")
                mat-datepicker-toggle(matSuffix, [for]="secondDatePicker")
                mat-datepicker(#secondDatePicker)
            button(type="submit", hidden='hidden') submit
        button((click) = "clearSearch()") Clear
    mat-card-content
        p Sporten
        mat-form-field.col.s12(floatLabel="never")
            mat-select(placeholder="Favoriete sporten", multiple, [(value)]="selectedSports", (change)="onSportsSelected()")
                mat-option(*ngFor="let sport of sports", [value]="sport.name") {{sport.name}}


        mat-chip-list
            mat-chip(*ngFor="let sport of selectedSports", color="primary", [selectable]="false") {{sport}}

    mat-card-content
        mat-slide-toggle Alleen waar vrienden naar toe gaan
        mat-slide-toggle Alleen georganiseerd door vrienden

