@import '~@angular/material/theming';

@mixin mat-form-field-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  // Label colors. Required is used for the `*` star shown in the label.
  $label-color: $text-disabled;
  $focused-label-color: mat-color($primary);
  $required-label-color: mat-color($accent);

  // Underline colors.
  $underline-color: $text;
  $underline-color-accent: mat-color($accent);
  $underline-color-warn: $danger;
  $underline-focused-color: mat-color($primary);

  .mat-form-field-label {
    color: $label-color;
  }

  .mat-hint {
    color: mat-color($foreground, secondary-text);
  }

  .mat-focused .mat-form-field-label {
    color: $focused-label-color;

    &.mat-accent {
      color: $underline-color-accent;
  }

    &.mat-warn {
      color: $underline-color-warn;
  }
}

  .mat-focused .mat-form-field-required-marker {
    color: $required-label-color;
}

  .mat-form-field-underline {
    background-color: $underline-color;
    height: 3px !important;
}

  .mat-form-field-disabled .mat-form-field-underline {
    @include mat-control-disabled-underline($underline-color);
    height: 3px !important;
}

  .mat-form-field-ripple {
    background-color: $underline-focused-color;
    height: 3px !important;

    &.mat-accent {
      background-color: $underline-color-accent;
  }

    &.mat-warn {
      background-color: $underline-color-warn;
  }
}

  // Styling for the error state of the form field. Note that while the same can be
  // achieved with the ng-* classes, we use this approach in order to ensure that the same
  // logic is used to style the error state and to show the error messages.
  .mat-form-field-invalid {
    .mat-form-field-label {
      color: $underline-color-warn;

      &.mat-accent,
      .mat-form-field-required-marker {
        color: $underline-color-warn;
    }
  }

    .mat-form-field-ripple {
      background-color: $underline-color-warn;
  }
}

  .mat-error {
    color: $underline-color-warn;
}
}

// -----------------------------------------
// Input Theme
// -----------------------------------------

@mixin mat-input-theme($theme) {
  $foreground: map-get($theme, foreground);

  .mat-input-element:disabled {
    color: mat-color($foreground, disabled-text);
  }

  .mat-input-element {
    padding: 2px 0 !important;

    @include input-placeholder {
      color: _mat-control-placeholder-color($theme);
    }
  }
}
