$black-contrast-87: rgba(#393E41, 0.87);
$white-contrast: #FBFBFB;
$white-contrast-87: rgba($white-contrast, 0.87);

$mat-primary: (
  50: #D0EAF2,
  100: #B9E0EC,
  200: #8BCBDF,
  300: #5CB7D3,
  400: #2EA2C6,
  500: #008EBA,
  600: #007599,
  700: #005B77,
  800: #004155,
  900: #002733,
  A100: #8BE3FF,
  A200: #5CD8FF,
  A400: #00C3FF,
  A700: #005974,
  contrast: (
    50: $black-contrast-87,
    100: $black-contrast-87,
    200: $black-contrast-87,
    300: $black-contrast-87,
    400: $black-contrast-87,
    500: $white-contrast,
    600: $white-contrast,
    700: $white-contrast-87,
    800: $white-contrast-87,
    900: $white-contrast-87,
    A100: $black-contrast-87,
    A200: $black-contrast-87,
    A400: $white-contrast,
    A700: $white-contrast,
  )
);

$mat-warn: (
  50: #FCDFDF,
  100: #FAD0CF,
  200: #F8B1AF,
  300: #F5928F,
  400: #F2736F,
  500: #F0544F,
  600: #C54541,
  700: #993633,
  800: #6E2724,
  900: #421716,
  A100: #FF9E9B,
  A200: #FF7873,
  A400: #FF2B23,
  A700: #741410,
  contrast: (
    50: $black-contrast-87,
    100: $black-contrast-87,
    200: $black-contrast-87,
    300: $black-contrast-87,
    400: $black-contrast-87,
    500: $white-contrast,
    600: $white-contrast,
    700: $white-contrast-87,
    800: $white-contrast-87,
    900: $white-contrast-87,
    A100: $black-contrast-87,
    A200: $black-contrast-87,
    A400: $white-contrast,
    A700: $white-contrast,
  )
);

  $mat-green: (
          50: #e8f5e9,
          100: #c8e6c9,
          200: #a5d6a7,
          300: #81c784,
          400: #66bb6a,
          500: #4caf50,
          600: #43a047,
          700: #388e3c,
          800: #2e7d32,
          900: #1b5e20,
          A100: #b9f6ca,
          A200: #69f0ae,
          A400: #00e676,
          A700: #00c853,
          contrast: (
                  50: $black-87-opacity,
                  100: $black-87-opacity,
                  200: $black-87-opacity,
                  300: $black-87-opacity,
                  400: $black-87-opacity,
                  500: $black-87-opacity,
                  600: white,
                  700: white,
                  800: $white-87-opacity,
                  900: $white-87-opacity,
                  A100: $black-87-opacity,
                  A200: $black-87-opacity,
                  A400: $black-87-opacity,
                  A700: $black-87-opacity,
          )
  );

$mat-orange: (
        50: #fff3e0,
        100: #ffe0b2,
        200: #ffcc80,
        300: #ffb74d,
        400: #ffa726,
        500: #ff9800,
        600: #fb8c00,
        700: #f57c00,
        800: #ef6c00,
        900: #e65100,
        A100: #ffd180,
        A200: #ffab40,
        A400: #ff9100,
        A700: #ff6d00,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $black-87-opacity,
                500: $black-87-opacity,
                600: $black-87-opacity,
                700: $black-87-opacity,
                800: white,
                900: white,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: $black-87-opacity,
                A700: black,
        )
);

