@import '~@angular/material/theming';
//@import '../1-base/colorvars';

@mixin mat-progress-bar-theme($theme) {
  $primary: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, primary);

  .mat-progress-bar.mat-primary {
    height: 16px !important;

    .mat-progress-bar-background {
      background-image: #{_mat-progress-bar-buffer($primary, lighter)};
    }

    .mat-progress-bar-buffer {
      background-color: transparent;
    }

    .mat-progress-bar-fill::after {
      background-color: mat-color($primary);
      border-radius: 8px;
      &.full {
        background-color: mat-color($warn);
      }
    }
  }

  .mat-progress-bar.mat-accent {
    .mat-progress-bar-background {
      background-image: #{_mat-progress-bar-buffer($accent, lighter)};
    }

    .mat-progress-bar-buffer {
      background-color: transparent;
    }

    .mat-progress-bar-fill::after {
      background-color: mat-color($accent);
      border-right: 3px solid #393E41;
    }
  }

  .mat-progress-bar.mat-warn {
    .mat-progress-bar-background {
      background-image: #{_mat-progress-bar-buffer($warn, lighter)};
    }

    .mat-progress-bar-buffer {
      background-color: transparent;
    }

    .mat-progress-bar-fill::after {
      background-color: mat-color($warn);
    }
  }
}