.nav-padding
.container
    app-user-list-item.list-item( *ngFor="let user of users;", [user] = "user", [index] = "user._id" )
    .div(*ngIf="!users || users.length === 0")
        p Geen vrienden :(
