.container
    app-user-list-item( *ngFor="let user of users;", [user] = "user", [index] = "user._id" )
    .div(*ngIf="!users || users.length === 0")
        .nav-padding
        .p Geen vrienden :(
