.form-container
    form([formGroup]="getForm()", (ngSubmit)="onSubmit()")
        app-stepper

            app-step
                .big-form-title-container
                  h3.big-form-header Wat is de naam van de sportactiviteit?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        input#name(matInput type="text", formControlName="name", placeholder="Vul een naam in")

                .big-form-footer-container
                  span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                  button.btn.btn-large(appStepperNext, [disabled]="getForm().get('name').invalid", type='button') Volgende stap
            app-step
                .big-form-title-container
                  h3.big-form-header Welke sport hoort bij deze activiteit?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        mat-select#sport(matInput type="text", formControlName="sport", placeholder="Vul een sport in")
                            mat-option(*ngFor="let sport of sports", [value]="sport")
                                p {{sport.name}}
                .big-form-footer-container
                  span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                  button.btn.btn-large(appStepperNext, [disabled]="getForm().get('sport').invalid", type='button') Volgende stap

            app-step
                .big-form-title-container
                  h3.big-form-header Wanneer vindt de sportactiviteit plaats?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        input#startTime(matInput type="time", formControlName="startTime", placeholder="Begintijd", [(ngModel)]="startTime", (change)="revalidate()", (input)="revalidate()")
                    span Tot
                    mat-form-field.big-form-field(floatLabel="never")
                        input#endTime(matInput type="time", formControlName="endTime", placeholder="Eindtijd", [(ngModel)]="endTime", app-form-valid [minimumValue]="startTime")
                    span Op
                    mat-form-field.big-form-field(floatLabel="never")
                        input(matInput, [min]="tomorrow", [matDatepicker]="datePicker", placeholder="Datum", formControlName="date", type="text")
                        mat-datepicker-toggle(matSuffix, [for]="datePicker")
                        mat-datepicker(#datePicker)

                .big-form-footer-container
                    span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                    button.btn.btn-large(appStepperNext, [disabled]="getForm().get('date').invalid", type='button') Volgende stap

            app-step
                .big-form-title-container
                  h3.big-form-header Waar zal de sportactiviteit plaatsvinden?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        input#location(matInput type="text", formControlName="location", placeholder="Vul een sportlocatie in")

                .big-form-footer-container
                    span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                    button.btn.btn-large(appStepperNext, [disabled]="getForm().get('location').invalid", type='button') Volgende stap

            app-step
                .big-form-title-container
                  h3.big-form-header Hoeveel mensen wil je laten deelnemen?
                  span.big-form-subheader(style="font-style: italic" ) (inclusief jezelf)
                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        input#minAttendees(matInput type="number", style="text-align:center", min=2, formControlName="minAttendees", placeholder="Minimum", [(ngModel)]="inputValue", (change)="revalidate()", (input)="revalidate()")
                    span tot
                    mat-form-field.big-form-field(floatLabel="never")
                        input#maxAttendees(matInput type="number", style="text-align:center", min=2,  formControlName="maxAttendees", placeholder="Maximum", app-form-valid [minimumValue]="inputValue")
                    span personen

                .big-form-footer-container
                  span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                  button.btn.btn-large(appStepperNext, [disabled]="getForm().get('maxAttendees').invalid", type='button') Volgende stap


            app-step
                .big-form-title-container
                  h3.big-form-header Wil je nog meer informatie geven over de sportactiviteit?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        textarea#description(matInput type="text", formControlName="description", placeholder="Vul een beschrijving in")

                .big-form-footer-container
                    span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                    button.btn.btn-large(appStepperNext, [disabled]="getForm().get('description').invalid", type='button') Bekijk resultaat

            app-step
                mat-card
                    mat-card-header
                        mat-card-title
                          h3 Overzicht
                        mat-card-subtitle Er is de mogelijkheid om dingen aan te passen door terug te gaan
                    mat-card-content.summary
                        h4 {{ eventForm.value.name }}
                        p Om bezig te zijn met
                          span.card  {{ eventForm.value.sport.name }}
                        p Op #[span.card {{ eventForm.value.date | date: 'longDate' }}] van #[span.card {{ eventForm.value.startTime }}] tot #[span.card {{ eventForm.value.endTime }}]
                        p Met #[span.card {{ eventForm.value.minAttendees }}] tot #[span.card {{ eventForm.value.maxAttendees }}] personen


                    mat-card-content.footer
                        h4 Extra informatie
                        p {{ eventForm.value.description }}



                .big-form-footer-container
                  span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                  button.btn.btn-large(type="submit", [disabled]="!getForm().valid") Evenement aanmaken
