form([formGroup]="getForm()", (ngSubmit)="onSubmit()")
        .row
            mat-form-field
                label(for="name") Wat is de naam van de sportactiviteit?
                input#name(matInput type="text", formControlName="name", placeholder="Vul een naam in")

        .row
            mat-form-field
                label(for="sport") Welke sport hoort bij deze activiteit?
                input#sport(matInput type="text", formControlName="sport", placeholder="Vul een sport in")
                
        .row
            mat-form-field
                label Wanneer vindt de sportactiviteit plaats?
                input#startTime(matInput type="text", formControlName="startTime", placeholder="Begintijd")
                span Tot
                input#endTime(matInput type="text", formControlName="endTime", placeholder="Eindtijd")
                span Op
                input#date(matInput type="text", formControlName="date", placeholder="Datum")
                
        .row
            mat-form-field
                label(for="location") Waar zal de sportactiviteit plaatsvinden?
                input#location(matInput type="text", formControlName="location", placeholder="Vul een sportlocatie in")
                
        .row
            mat-form-field
                label Hoeveel mensen wil je laten deelnemen?
                span(style="color: gray") (inclusief jezelf)
                input#minAttendees(matInput type="text", formControlName="minAttendees", placeholder="minimum")
                span tot
                input#maxAttendees(matInput type="text", formControlName="maxAttendees", placeholder="maximum")
                span personen

        .row
            mat-form-field
                label(for="description") Wil je nog meer informatie geven over de sportactiviteit?
                input#description(matInput type="text", formControlName="description", placeholder="Vul een beschrijving in")


        