.form-container
  min-height: 100vh
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


h1
  font-size: 18px
  font-weight: bold

mat-card.summary_card
  border-radius: 5%
  border: black 10px !important
  width: 85%



