form([formGroup]="getForm()", (ngSubmit)="onSubmit()")

        label(for="name") Wat is de naam van de sportactiviteit?
        .row
            mat-form-field
                input#name(matInput type="text", formControlName="name", placeholder="Vul een naam in")

        label Welke sport hoort bij deze activiteit?
        .row
            mat-form-field
                mat-select#sport(matInput type="text", formControlName="sport", placeholder="Vul een sport in")
                    mat-option(*ngFor="let sport of sports", [value]="sport.sportId")
                        p {{sport.name}}

        label Wanneer vindt de sportactiviteit plaats?
        .row
            mat-form-field
                input#startTime(matInput type="time", formControlName="startTime", placeholder="Begintijd", [(ngModel)]="startTime", (change)="revalidate()", (input)="revalidate()")
            span Tot
            mat-form-field
                input#endTime(matInput type="time", formControlName="endTime", placeholder="Eindtijd", [(ngModel)]="endTime", app-form-valid [minimumValue]="startTime")
            span Op
            mat-form-field
                input#date(matInput type="date", formControlName="date",placeholder="Datum")

        label(for="location") Waar zal de sportactiviteit plaatsvinden?
        .row
            mat-form-field
                input#location(matInput type="text", formControlName="location", placeholder="Vul een sportlocatie in")

        label Hoeveel mensen wil je laten deelnemen?
        .row
            span(style="color: gray; font-style: italic" ) (inclusief jezelf)
        .row
            mat-form-field
                input#minAttendees(matInput type="number", style="text-align:center", min=2, formControlName="minAttendees", placeholder="minimum", [(ngModel)]="inputValue", (change)="revalidate()", (input)="revalidate()")
            span tot
            mat-form-field
                input#maxAttendees(matInput type="number", style="text-align:center", min=2,  formControlName="maxAttendees", placeholder="maximum", app-form-valid [minimumValue]="inputValue")
            span personen

        label(for="description") Wil je nog meer informatie geven over de sportactiviteit?
        .row
            mat-form-field
                textarea#description(matInput type="text", formControlName="description", placeholder="Vul een beschrijving in")

        button(type="submit", [ngStyle]="{backgroundColor: getForm().valid ? 'green' : 'red'}", [disabled]="!getForm().valid") Evenement aanmaken