p Er zijn nog actieve evenementen gekoppeld aan dit account. Meld je eerst af van deze evenementen om dit account te kunnen verwijderen.
.button-container
  button.btn.danger((click)="dialogRef.close(false)") Sluiten
  button.btn((click)="dialogRef.close(true)") Events bekijken