.wrapper

  .add-container
    .row.add
      button.btn()
        mat-icon(svgIcon="plus")
      label Nieuw evenement

  .event-container

    .search-container
      input(#titleInput type="text",  (keyup.enter)="searchEvents(titleInput)")
      mat-icon(svgIcon="magnify", (click)="searchEvents(titleInput)" )

    app-sportevent-list-item( *ngFor="let event of resultEvents; let i = index", [event] = "event", [index] = "event.sportEventId" )

    .row.logout
      a((click)="logout()") Uitloggen

  .filter-container
      button.btn((click)="onCreateNewEvent()")
        mat-icon(svgIcon="filter-variant")





