label
  color: #008EBA
  font-weight: 500
  margin-left: 10px

.event-container
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  flex: 1


.wrapper
  display: flex
  flex-wrap: wrap
  flex-direction: row


app-sportevent-list-item
  max-width: 778px
  width: 100%
  flex-direction: column
  display: flex



.search-container
  margin-bottom: 42px
  width: 100%
  max-width: 778px
  border-radius: 16px
  height: 40px
  background: white
  border: #393E41 2px solid !important
  flex-direction: row
  justify-content: space-between
  align-items: center
  display: flex
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)


  mat-icon
    padding-right: 8px


input
  font-size: 20px
  background: white
  outline: none
  border-radius: 16px
  padding-left: 18px
  border: none
  width: 100%
  color: #393E41


.btn
  padding: 0
  height: 50px
  min-width: 50px !important
  border-radius: 50%

.add-container
  flex: 0.5


.row.add
  position: fixed
  bottom: 20px
  left: 20px
  max-width: 400px
  width: 100%


mat-icon
  vertical-align: text-bottom

a:hover
  color: #008EBA


.filter-container
  flex: 0.5
  padding-left: 32px


